# --- Archivos de compilación de .NET ---
[Bb]in/
[Obj]/

# --- Configuración de Visual Studio y VS Code ---
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo

# --- Archivos temporales de Windows ---
Thumbs.db
desktop.ini

# --- Otros ---
*.log